 <link rel="stylesheet" href="/stylesheets/style.css">
<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>


<div class="home"> 
    <h1 class="text-center font-weight-bold">Welcome to Between The Looking Glass</h1>
    </br>
    </br>
    </br>
    <p class="text-light">Between The Looking Glass allows you to access a new world into Jr. Development! Please sign up for an account to get full access to the Looking Glass community pages, resources, articles and more! We look forward to seeing you grow!</p>
    </br>
    </br>
    <p class="text-center text-light bg-dark">You are at the Homepage!</p>
</div>

<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>