<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Between the looking glass</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />

</head>

<body>
 
  
    <header class="jumbotron text-white bg-gradient mb-0">
      <nav class="navbar">
        <div class="container">
        <span class="navbar-btns">
            <span id="homepage-btn"><i class="fa fa-home"></i><a href="/"> Homepage</a></span>
            <span id="glossary-btn"><i class="fa fa-home"></i><a href="/glossary"> Glossary</a></span>
            <span id="dashboard-btn"><i class="fa fa-home"></i><a href="/dashboard"> Dashboard</a></span>

  
  
  
               {{#if loggedIn}}
              <button id="logout" class="btn btn-primary">Logout</button>
              {{else}}
              </br>
              </br>
              <span id="login">
              <a href="/login">Login</a></span>
              


              {{!-- <a href="/login"></a> --}}
              
              {{/if}}
      </span>
      </div>
    </nav>
    <!--Our app title and the slogan underneath, maybe we put ome sort of icon next to or after the title where the dots are.../-->

      <h1 class="display-3">Between the looking glass...</h1>
       <h2> Are you feeling like you don't know how to get started after school? Between the Looking Glass is an all enclusive look into becoming a junior developer. Ask questions, create blog posts, comment on others post and most importantly know you are not alone!</h2>
       <!--Slogan goes here and will be rendered under ^ -->
      <p class="slogan"></p>
      <br>
      
        
           
  </div>
</div>
  
  </br>
  
  </header>


  <main>
    {{{ body }}}
     
  </main>

  {{#if loggedIn}}
  <script src="/public/javascript/logout.js"></script>
  {{/if}}


  

</body>



<footer class="">
  <br>
  <div id="contact-us" class="text-center" style="color:rgb(252, 15, 15)">Contact Us</div>
            <div class="text-centered">
                <p style="color:rgb(224, 95, 8)"> <span class="contact-attribiutes">Email</span>: Between_the_looking_glass@gmail.com</p>
                <p style="color:rgba(228, 109, 13, 0.89)"><span class="contact-attribiutes">Phone Number</span>: 867-5309 </p>
                <p style="color:rgb(240, 9, 9)><span class="contact-attribiutes">Authors of Website</span>: 
                    <ul>
                      <li><a href="https://www.github.com/kristafrancis"></li>
                      <span style="color:rgb(241, 147, 7)" class="names"text-weight-bold >
                        Krista Francis,</span></a>
                   <li> <a href="https://www.github.com/adj0609"></li>
                   <span style="color:rgb(233, 16, 63)" class="names">
                        Andrea Jared,</span></a> 
                   <li><a href="https://www.github.com/Theothermike5544"></li>
                   <span style="color:rgb(247, 6, 6)" class="names">
                       Michael Bishop,</span></a></li>
                    <li><a href="https://github.com/joshuapward2"></li>
                    <span style="color:rgb(12, 146, 170)" class="names">
                        Joshua Ward,</span></a> </li>
                   <li><a href="https://www.github.com/jaycooo"></li>
                   <span style="color:rgb(8, 114, 52)" class="names">
                        Julia Coronado,</span></a></li>
                    <li><a href=""></li>
                    <span style="color:rgb(245, 11, 11" class="names">
                        name</span></a></li>
                        </ul>
                    </p>
                    <p class="tag">
                    <a href="https://github.com/kristafrancis/between-the-looking-glass">
                         <span style="black" class="is-underlined has-text-weight-bold">
                        Github Repository</span>
                    </a>
                    </p>
            </div>
        </div>

</footer>

</div>

</html>