 <link rel="stylesheet" href="/stylesheets/style.css">
<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>


<div class="home"> 
   
    

    </br>
    </br>
    </br>
    
    </br>
    </br>
    <p class="text-center text-light">You are at the Homepage!</p>
</div>

<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>