 <link rel="stylesheet" href="/stylesheets/style.css">
<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>


<div class="home">
         <h2> Are you feeling like you don't know how to get started after school? Between the Looking Glass is an all enclusive look into becoming a junior developer. Ask questions, create blog posts, comment on others post and most importantly know you are not alone!</h2>
   <h2>Please login to proceed to the dashboard...</h2>
  
    

    </br>
    </br>
    </br>
    
    </br>
    </br>
    <p class="text-center text-light">You are at the Homepage!</p>
</div>

<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>
<footer class="">
  <h2 class="text-center p-3 mb-2  text-white">We welcome you to join our community!</h2>
  </footer>