<form class="signup-form">
  <div>
<<<<<<< HEAD
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
=======
    <label for="email-login">Username:</label>
    <input type="text" id="email-login" />
>>>>>>> 6d932f6db2d0c4b074d264e210f5921353ae898a
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>


<script src="/javascript/login.js"></script>