    <!--adding modal-->
        <div style="d-none"class="label alert" id="newAcctModal" >
        <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" >Account created! </h1>
        <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="lead">Please be patient as you login. </p>
      </div>
    
   
    <div class="card">
      <h3 id="signup-title" class="text-center card-header">Sign Up</h3>
      <form id="signup-form" class="card-body">
        <label for="username-signup" class="form-label text-white">Select Username:</label>
        <input id="username-signup" type="text" class="form-input" />


        <label class="form-label text-white" for="password-signup">Create Password:</label>
        <input  id="password-signup" type="password" class="form-input" />
  
      
        </br>
        <a class="login-link text-primary bg-dark" href="/login">Already have an account?, Login instead!</a>
        </form>
    </div>
         
         <div class="card"></div>
      <h3 id="Community-id" class="text-center card-header">Join Our Community Today!</h3>
    <form id="plan-pick-form" class="card-body text-center text-light bg-dark"> 
      <p>Please remember your input for your unique username and password for logging in at a later date!</p>
      <button type="submit" id="login" class="btn">Create Account!</button>

    <!-- THIS IS TO REDIRECT BACK UP A PAGE TO THE ROOT FILE -->    
        <a id="dash" class="dashboard text-warning" href="/">Would you like to return back to the homepage?</a>
      </form>
    </div>
    
<script src="/public/javascript/signup.js"></script>