.navbar {
    background-color: black;
}


#homepage-btn, #glossary-btn, #blog-id{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    

}

span > a {

    color: white;

}
