/* Links*/

#homepage-btn, #glossary-btn, #post-id {

    margin: 75px;
    align-items: right;
    

}  
/* Login and log out buttons*/

#logout {
    padding: 3px;
    margin: 50px;
    float: center;
}
/* #login-btn {

padding: 3px;
    margin: 50px;
  
}

/* .card { */
    
*/
.post-header {
    text-align: center;
    text-decoration: underline;
}

li {
    list-style: none;
}

.blog-title {
    text-decoration: underline;
}