/* Links*/

#homepage-btn, #glossary-btn, #post-id {

    margin: 75px;
    align-items: right;
    

}  
/* Login and log out buttons*/

#logout {
    padding: 3px;
    margin: 50px;
    float: center;
}
/* #login-btn {

padding: 3px;
    margin: 50px;
  
}

/* .card { */
    
*/
.post-header {
    text-align: center;
    text-decoration: underline;
}

li {
    list-style: none;
}

.blog-title {
    text-decoration: underline;
}


.card-title {
    background-color: lightgray;
}

body{
    background-image: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/through-the-looking-glass-allison-hutchins.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 95%;
    font-family: 'Numans', sans-serif;
    align-content: center;
    background-attachment: fixed;
    }





footer{
    padding: 5px;
    height: 50%;
    text-align: center;
    display: absolute;
    
}

new-post-form{
    text-align: center;
}





